html{
    width:100%;
    
}

h1{
    
    color:white;
}

body{
    background-color:#232323;
    
}

#container{
    margin:0px auto;
    max-width:600px;
    margin-top:5%;
    
    
}

.square{
    width:30%;
    margin:1.66%;
    background:rgb(0, 255, 255);
    padding-bottom:30%;
    float: left;
    
}